[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.9.9"

[packages]
pyspark = ">=3.1.1"
pyyaml = "*"
setuptools = "*"
lark = "*"

[dev-packages]
pip = ">=20.0.2"
pipenv = "*"
pipenv-setup = "*"
pipenv-to-requirements = "*"
bump2version = "*"
pytest-spark = ">=0.6.0"
pytest-cov = "*"
flake8 = "*"
codecov = "*"
psutil = "*"
pytest = "*"
